---
import "../styles/global.css";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Used to facilitate OAuth flow between Static CMS and GitHub." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="noindex" />
        <title>Static CMS GitHub OAuth Provider</title>
    </head>
    <body>
        <main>
            <div class="info-card">
                <h1 class="text-gradient">Static CMS GitHub OAuth Provider</h1>
                <p>Used to facilitate OAuth flow between Static CMS and GitHub.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="astro-svg" viewBox="0 0 16 16">
                    <path
                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"
                    ></path>
                </svg>
            </div>
            <slot />
        </main>
    </body>
</html>
