---
import "../styles/global.css"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Used to facilitate OAuth flow between Static CMS and GitHub." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex" />
		<title>Static CMS GitHub OAuth Provider</title>
	</head>
	<body>
		<main>
			<h1>Static CMS GitHub OAuth Provider</h1>
			<slot />
		</main>
	</body>
</html>
